*,*:before,*:after {
	box-sizing:border-box;
	position:relative;
}

html, body {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width: 100%;
}
body{
	background: #D3D3D3;
	font-family: arial;
}
img{
	width: 100px;
}
main{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	width: 80%;
}
h1,h2,h3{
	margin: 0;
}
section{
	padding:10px;
	margin:1%;
	background: #fff;
	box-shadow: 8px 8px 20px #888;
}
.sec1{
	width:65%;
}
.sec2{
	width: 31%;
	display: flex;
}
.sec2 div{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.sec2 div img{
	width: 90px;
}
.sec2 div:first-child img{
	width: 100px;
	margin: 15px;
}
.sec2 div p{
	font-size:14px;
	text-align: center;
}

.sec3{
	width: 31%;
}

.sec3 img{
	width: 46%;
	margin: 0 1%;
}
.sec3 p{
	font-family: "Times New Roman - italico";
	font-size: 17px;
}
.sec3 p:last-child{
	text-align: right;
	font-family: arial;
	font-size: 15px;
}

.sec4{
	width: 65%;
	display: flex;
	flex-flow: row wrap;
}

.sec4 h2{
	font-size: 17px;
	margin-left: 3px;
	padding:0;
	padding-top: 10px;
}
.sec4 div {
	width: 48%;
	margin: 0 1%;
}
.sec4 div img{
	width: 45%;
	margin: 5px;
	margin-left: 5%;
}
.sec4 div h3{
	padding: 0;
	margin: 0;
	font-size:15px;
}
.sec4 div ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.sec4 div ul li:before{
	content:"- ";
}
.sec5{
	width:58%;
}
.sec6{
	width:23.9%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.sec6 h3{
	width: 100%;
	font-size: 17px;
}
.sec6 img{
	width: 80%;
}
.sec7{
	width: 12%;
}
.sec7 h2 {
	font-size: 17px;
}
.sec7 ul{
	padding: 0;
	margin: 20px;
}
.sec7 ul li{
	margin-bottom: 7px;
}
@font-face{
	font-family: "Times New Roman - italico";
	src: url(fonts/timesi.ttf);
}